

h1{
    color:blue;
}

h2{
    text-transform: uppercase;
}
.contact{
    color: blue;
    
}




i{
    color: blue;
    
}


.jesuis{
    color: blue;
    font-style:justify;
    
  
    
}

p{
    text-align: justify;
    text-align: center;
    
}
.titre1{
    color: blue;
    
}

.titre2{
    color: blue;
    
}
.titre3{
    color: blue  
    
}

.titre4{
    color: blue;
    
}
.titre5{
    color: blue;
    
}
 .photo{
    padding-top: 2%;

 }

 nav > a {
    color: white;

 }
 nav {
   
    display: flex;
    height: 30px;
    background: blue;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}

header {
    background-color: blue;
    display:inline-flexbox;

}
footer{
  
    background: blue;
    color: white;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
header,body,footer {
	font-family: 'Roboto', sans-serif;
}

@media (max-width:320px) {
    .contact{
        color: rgb(11, 121, 172);
        
}
}
@media (max-width:320px) {
    .jesuis{
        color: rgb(11, 121, 172);
        font-style:justify;
        

            
        }
    }
    
@media (max-width:320px){
    p{
        text-align: justify;
    }
}


@media only screen and (max-width: 320px) {
    h2 {
    font-size: 3em;
    text-align: justify;
    }
 }